html, body {
    margin: 0;
    padding: 0;
  }


.background-Reg {
    background-image: url("/src/asserts/img/lgbag.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjusted height to cover full screen */
    margin-top: -48px;
}
