.navbar {
    border-bottom: 3px solid #5c5c5c;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-left: 1rem;
  }
  
  .navbar-nav .nav-link i {
    font-size: 1.2rem;
  }
  
 
  .btn-primary:hover {
    background-color: #5c5c5c;
    border-color: #5c5c5c;
  }
  